:root {
  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --accent-color: #FF6C00;
  --dark-title-color: #303030;
  --light-title-color: #FFFFFF;
  --light-uppertitle-color: rgba(157, 164, 189, 0.6);
  --dark-text-color: #555555;
  --light-text-color: #9DA4BD;
  --graphic-color: #303030;
  --form-active-color: #FFFFFF;
  --form-color: rgba(157, 164, 189, 0.4);
  --footer-color: #9DA4BD;
}

.hero_item, .uppertitle_light, .uppertitle_dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero_item:first-child::before, .uppertitle_light:first-child::before, .uppertitle_dark:first-child::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

.title_dark {
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .title_dark {
    font-size: 42px;
    line-height: calc 1.1666666667;
  }
}

.descr_light, .descr_dark {
  line-height: 1.625;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}

.btn-light, .btn-dark {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero_title {
  margin-bottom: 20px;
  font-family: var(--title-font);
  font-size: 48px;
  line-height: calc 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--light-title-color);
}
@media screen and (max-width: 358px) {
  .hero_title {
    font-size: 40px;
  }
}

.uppertitle_dark {
  color: var(--dark-title-color);
}
.uppertitle_dark:first-child::before {
  background-color: var(--dark-title-color);
}

.uppertitle_light {
  color: var(--light-uppertitle-color);
}
.uppertitle_light::before {
  background-color: var(--light-uppertitle-color);
}

.title_dark {
  color: var(--dark-title-color);
}

.descr_dark {
  color: var(--dark-text-color);
}

.descr_light {
  color: var(--light-text-color);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  padding-right: 31px;
  padding-left: 31px;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 39px;
    padding-left: 39px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
  }
}

.btn-dark {
  color: var(--dark-title-color);
}

.btn-light {
  color: var(--light-title-color);
}

.hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 66px;
}
@media screen and (min-width: 1200px) {
  .hero_section {
    gap: 58px;
  }
}

.hero_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    width: 30px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

.hero_item {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  color: var(--dark-title-color);
  cursor: pointer;
}
.hero_item:hover, .hero_item:focus {
  color: var(--accent-color);
}
.hero_item:first-child::before {
  background-color: var(--dark-title-color);
}

.hero_container {
  width: 480px;
  height: auto;
  padding-top: 208px;
  padding-right: 31px;
  padding-bottom: 209px;
  padding-left: 31px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/hero/hero-480-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero_container {
    background-image: url(../img/hero/hero-480-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero_container {
    min-width: 573px;
    padding-top: 272px;
    padding-right: 0;
    padding-bottom: 237px;
    padding-left: 100px;
    background-image: url(../img/hero/hero-573-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero_container {
    background-image: url(../img/hero/hero-573-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero_container {
    min-width: 1070px;
    padding-bottom: 208px;
    background-image: url(../img/hero/hero-1070-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero_container {
    background-image: url(../img/hero/hero-1070-2x.jpg);
  }
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_img_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about_img_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about_img_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .about_content_wrapper {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about_content_wrapper {
    width: 450px;
  }
}

.about_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about_text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about_text {
    margin-bottom: 42px;
  }
}/*# sourceMappingURL=main.css.map */