:root {
  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
  --accent-color: #FF6C00;
  --dark-title-color: #303030;
  --light-title-color: #FFFFFF;
  --light-uppertitle-color: rgba(157, 164, 189, 0.6);
  --dark-text-color: #555555;
  --light-text-color: #9DA4BD;
  --graphic-color: #303030;
  --form-active-color: #FFFFFF;
  --form-color: rgba(157, 164, 189, 0.4);
  --footer-color: #9DA4BD;
}

.uppertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.uppertitle::before {
  content: "";
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

.title {
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    line-height: calc 1.1666666667;
  }
}

.descr {
  line-height: 1.625;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 .hero-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 48px;
  line-height: calc 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--light-title-color);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  padding-right: 31px;
  padding-left: 31px;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 39px;
    padding-left: 39px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
  }
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_img_list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about_img_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about_img_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .about_content_wrapper {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about_content_wrapper {
    width: 450px;
  }
}

.about_uppertitle {
  color: var(--dark-title-color);
}
.about_uppertitle::before {
  background-color: var(--dark-title-color);
}

.about_title {
  color: var(--dark-title-color);
}

.about_descr {
  color: var(--dark-text-color);
}

.about_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about_text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about_text {
    margin-bottom: 42px;
  }
}/*# sourceMappingURL=main.css.map */