.about_container {
    display: flex;
}


.about_img_list {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 30px;
    }

    @include desktop {
        flex-direction: row;
    }
}

.about_content_wrapper {   
    @include tablet {
        width: 330px;
    }

    @include desktop {
        width: 450px;
    }
}


.about_text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 77px;
    }

    @include desktop {
        margin-bottom: 42px;
    }
}