.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 40px 0;

  background-color: rgba(17, 19, 25, 0.7);

  @include tablet {
    padding: 32px 0;
  }
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_icon {
  fill: var(--light-graphic-color);

  @include tablet {
    fill: var(--graphic-color);
  }

  @include desktop {
    margin-right: 131px;
  }
}

.navigation {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
    margin-right: auto;
  }
}

.navigation_list {
  display: flex;
  gap: 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  color: var(--light-title-color);
}

.header_group_wrapper {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include desktop {
    flex-direction: row-reverse;
    gap: 43px;
  }
}

.header_tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  color: var(--light-title-color);
}

.mobile_menu_btn {
  background-color: transparent;
  padding: 0;
  border: none;
  height: 40px;

  @include tablet {
    display: none;
  }
}

.mobile_menu_icon {
  fill: var(--light-graphic-color);
}
