h1
.hero-title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 48px;
    line-height: calc (56 / 48);
    letter-spacing: 0.05em;
    color: var(--light-title-color);
}

.uppertitle {
    @extend %uppertitle;
}

.title {
    @extend %title;
}

.descr {
    @extend %descr;
}

