.uppertitle_dark {
    @extend %uppertitle;
    color: var(--dark-title-color);

    &::before {
        background-color: var(--dark-title-color);
    }
}

.uppertitle_light {
    @extend %uppertitle;
    color: var(--light-uppertitle-color);

    &::before {
        background-color: var(--light-uppertitle-color);
    }
}

.title_dark {
    @extend %title;
    color: var(--dark-title-color);
}

.title_light {
    @extend %title;
    color: var(--light-title-color);
}

.descr_dark {
    @extend %descr;
    color: var(--dark-text-color);
}

.descr_light {
    @extend %descr;
    color: var(--light-text-color);
}

