.networks_list {
  display: flex;
  gap: 40px;
}

.networks_item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  color: var(--dark-title-color);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:first-child::before {
    content: "";
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: var(--dark-title-color);
  }
}

.networks_link {
  color: currentColor;
}
