:root {
  // Fonts
  --main-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;

  // Colors
  --accent-color: #ff6c00;

  --dark-title-color: #303030;
  --light-title-color: #ffffff;
  --light-uppertitle-color: rgba(157, 164, 189, 0.6);

  --dark-text-color: #555555;
  --light-text-color: #9da4bd;

  --graphic-color: #303030;
  --light-graphic-color: #ffffff;

  --form-active-color: #ffffff;
  --form-color: rgba(157, 164, 189, 0.4);

  --contacts-color: #9da4bd;

  --light-bg-color: #ffffff;
  --bg-color: #f7f7f7;
  --dark-bg-color: #111319;

  // List items
  --indent: 30px;
  --items: 2;

  // Transition
}
