:root {
    // Fonts
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;

    // Colors
    --accent-color: #FF6C00;

    --dark-title-color: #303030;
    --light-title-color: #FFFFFF;
    --light-uppertitle-color: rgba(157, 164, 189, 0.6);

    --dark-text-color: #555555;
    --light-text-color: #9DA4BD;

    --graphic-color: #303030;

    --form-active-color: #FFFFFF;
    --form-color: rgba(157, 164, 189, 0.4);

    --footer-color: #9DA4BD;

    // List items
    --indent: 30px;
    --items: 2;

    // Transition

}